.form-item {
    margin: 5px 20px;
    width: 95%;
    border-radius: 10px;
}

.title {
    height: 60px;
    font-size: 40px;
    
}

.content {
    height: 300px;
    font-size: 30px;
}

button {
    float: right;
    font-family: 'Dancing Script', cursive;
    padding: 10px;
    width: 100px;
    font-size: 20px;
    margin: 5px 20px;
    border-radius: 10px;
    background: #dfdcdc;
}

button:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h1 {
    font-family: 'Satisfy', cursive;
    margin: 10px 20px;
}