<div class="posts-container">
        <h1>Popular Posts</h1>
    <div class="post-container" *ngFor='let post of posts' routerLink="/dashboard/post/{{post.id}}">
        <div class="post-left-side">
            <img class="post-thumbnail " width="660" height="420" src="../../assets/laptop.jpeg" alt>
        </div>
        <div class="post-right-side">
            <h2> {{ post.title }}</h2>
            <div class="post-date"> September 30, 2019 </div>
            <div class="post-comments"> 1 <i class="fa fa-comment"></i> </div>
        </div>
    </div>
</div>