<div class="post-container">
    <header class="post-title">
        <h1>{{post.title}}</h1>
    </header>
    <main class="post-content">
        {{post.content}}
    </main>
    <aside class="likes count">
        {{post.likes}} likes
        {{comments.length}} comments
    </aside>
    <footer class="post-buttons">
        <button (click)='likePost()'>Like</button>
        <button (click)='showInputField()'>Comment</button>
        <textarea class='comment-input' #box
            id='comment-input' 
            style='display: none' 
            placeholder="Please type your comment here"
            (keyup.enter)='addComment(box.value)'>
        </textarea>
    </footer>
</div>

<div class="comments-container">
    <h2>Comments</h2>
    <ul class="comments">
        <li class="comments-item" *ngFor='let comment of comments'>
                {{comment.content}}
        </li>
    </ul>
</div>