@import '../mixins.scss';

.sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  background-color: rgb(51, 51, 51);
  color: #acacac;

  .sidenav-list {
    display: block;
    padding: 0;
    list-style-type: none;

    .sidenav-item {
      font-family: 'Hepta Slab', serif;
      padding: 20px 20px 20px 40px;
      color: #ddd;
    }

    .sidenav-item:hover {
      color: #ddd;
      border-top: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
      cursor: pointer;
    }
  }
}

.main {
  height: 100%;
  margin-left: 240px;
  background-color: #ffffff;
}

.openbtn {
  @include small-button(rgba(17, 17, 17, 0.503), 10px, white);
  position: fixed;
  display: none;
  top: 10px;
  left: 5px;
}

@media (max-width: 700px) {
  .sidenav {
    display: none;
  }
  .main {
    margin-left: 0;
  }
  .openbtn {
    display: block;
  }

  .show-navbar {
    .sidenav {
      display: block;
    }
    .main {
      margin-left: 240px;
    }
  }
}
